html { text-align: center; font-family: dosis; }
body { height: 100%; width: 100%; margin: 0 auto 0 auto; text-align: left; padding: 0px;} 
header { height: 68px; width: 100%; background-color: white; text-align: left; color: white; padding-left: 40px; padding-top: 1px; font-family: 'Dosis', sans-serif; }
nav { line-height:30px; height: 20px; width: 100%; float: left; padding-bottom: 140px; font-family: 'Dosis', sans-serif; position: absolute; }
section { background-color: white; padding: 60px; margin: 30px; color: black; font-family: 'Dosis', sans-serif;   opacity: 0.85;
filter: alpha(opacity=50); /* For IE8 and earlier */}
main { padding: 20px; height 90% font-family: 'Dosis', sans-serif; }
article { width: 950px; display: table; padding: 20px; font-family: 'Dosis', sans-serif;}
hr { 
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
} 
div.gallery {
margin: 5px;
border: 0px solid #ccc;
float: left;
width: 180px;
}
div.gallery:hover {
border: 0px solid #777;
}
div.gallery img {
width: 100%;
height: auto;
}
div.desc {
padding: 15px;
text-align: center;
}
footer {background-color:  white; height: 30%; width: 100%; position: absolute; bottom: 0px; text-align: center; color: black;}
ul { list-style-type: none; margin: 0; margin: 1px; padding: 0;overflow: hidden; background-color: white }
li { float: left; padding-left: 20px; margin: 1px;}
li a { display: block; color: black; text-align: center; padding: 14px 16px;text-decoration: none; } /* Change the link color to gray (gray) on hover */
li a:hover { background-color: gray; }
.c { text-align: center; }
.parallax {
/* The image used */
background-image: url("http://novalaunch.us/images/background.jpg");
/* Full height */
height: 100%;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}